<div class="limiter">
  <div class="container-login100" style="background-image:url('/assets/bg-01.jpg');">
    <div class="wrap-login100 p-t-30 p-b-50">
      <span class="login100-form-title p-b-41">
        Account Login
      </span>
      <div class="login100-form validate-form p-b-33 p-t-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <%= f.email_field :email, class: "input100", autofocus: true, autocomplete: "email" %>
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <%= f.password_field :password, class: "input100", autocomplete: "current-password" %>
            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
          </div>
          <div class="container-login100-form-btn m-t-32">
            <%= f.submit "Log in", class: "login100-form-btn"%>
          </div>

				<% end %>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>